@model IEnumerable<WebApplication7.Konstverk>
@{
    ViewBag.Title = "Galleri";
}


<div class="container" style="text-align: center;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 style="color: #E88300;">Sök efter en tavla</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" style="text-align: center;" class="form-control input-lg" placeholder="Sök här..." />
                    <span class="input-group-btn">
                        <button id="button1" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div style="position: relative; top: -47px; right: 680px;" class="container">
                @Html.ActionLink("Lägg till konstverk", "AddAndEdit", "Account", null, new { @class = "btn btn-m " })
            </div>
            
        </div>
        <button id="button2" style="position: relative; top: 70px; left: -50px;" class="btn btn-md">
            Filtrera bort borttagna
        </button>
    </div>
</div>

<hr /> <!-- Här börjar våra sökresultat-->
<!-- Sökresultat 1-->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@*<div style="border: solid 2px #E4E4E4; border-radius: 10px;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="sökbild" src="~/Content/Image/bild1.JPG" />
        </div>

        <div class="col-sm-6">
            <h3> Titel: -------- </h3>
            <h4> Inlagd: 2016-02-01 </h4>
            <h4> Konstnär: Brutus Östling </h4>
            <h4> Typ: Fotografi </h4>
            <h4> Plats: T4 (Not Funkyroom) </h4>
            <a href="#"><img class="karta" src="~/Content/Image/karta.png" /></a>
        </div>

        <div style="text-align: right; top: 5px;" class="col-sm-2">
            <button class="btn btn-md">
                Redigera
            </button>
        </div>
    </div>
</div>

<p></p>
<!-- Sökresultat 2-->
<div style="border: solid 2px #E4E4E4; border-radius: 10px;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="sökbild" src="~/Content/Image/bild2.JPG" />
        </div>

        <div class="col-sm-6">
            <h3> Titel: -------- </h3>
            <h4> Inlagd: 2016-02-01 </h4>
            <h4> Konstnär: Brutus Östling </h4>
            <h4> Typ: Fotografi </h4>
            <h4> Plats: T4 (Not Funkyroom) </h4>
            <a href="#"><img class="karta" src="~/Content/Image/karta.png" /></a>
        </div>

        <div style="text-align: right; top: 5px;" class="col-sm-2">
            <button class="btn btn-md">
                Redigera
            </button>
        </div>
    </div>
</div>

<p></p>
<!-- Sökresultat 3-->
<div id="div2" style="border: solid 2px #E4E4E4; border-radius: 10px; background-color: lightgrey;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="sökbild" style="opacity: 0.75;" src="~/Content/Image/bild3.JPG" />
            <h1 style="position: absolute; text-align: center; top: 30%; left: 30%; color: red;"> Borttagen </h1>
        </div>

        <div class="col-sm-6">
            <h3> Titel: -------- </h3>
            <h4> Inlagd: 2016-02-01 </h4>
            <h4> Konstnär: Brutus Östling </h4>
            <h4> Typ: Fotografi </h4>
            <h4> Plats: -------- </h4>
        </div>

        <div style="text-align: right; top: 5px;" class="col-sm-2">
            <button class="btn btn-md">
                Redigera
            </button>
        </div>
    </div>
</div>

<p></p>
<!-- Sökresultat 4-->
<div id="div1" style="border: solid 2px #E4E4E4; border-radius: 10px;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="sökbild" src="~/Content/Image/bild4.JPG" />
        </div>

        <div class="col-sm-6">
            <h3> Titel: -------- </h3>
            <h4> Inlagd: 2016-02-01 </h4>
            <h4> Konstnär: Brutus Östling </h4>
            <h4> Typ: Fotografi </h4>
            <h4> Plats: T4 (Not Funkyroom) </h4>
            <a href="#"><img class="karta" src="~/Content/Image/karta.png" /></a>
        </div>

        <div style="text-align: right; top: 5px;" class="col-sm-2">
            <button class="btn btn-md">
                Redigera
            </button>
        </div>
    </div>
</div>

<p></p>
<!-- Sökresultat 5-->
<div id="div1" style="border: solid 2px #E4E4E4; border-radius: 10px;" class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="sökbild" src="~/Content/Image/bild5.JPG" />
        </div>

        <div class="col-sm-6">
            <h3> Titel: -------- </h3>
            <h4> Inlagd: 2016-02-01 </h4>
            <h4> Konstnär: Brutus Östling </h4>
            <h4> Typ: Fotografi </h4>
            <h4> Plats: T4 (Not Funkyroom) </h4>
            <a href="#"><img class="karta" src="~/Content/Image/karta.png" /></a>
        </div>

        <div style="text-align: right; top: 5px;" class="col-sm-2">
            <button class="btn btn-md">
                Redigera
            </button>
        </div>
    </div>
</div>*@
<hr />

